annotated-types==0.8.0
cached-property==2.0.1
inflection==0.5.1
mypy_extensions==1.1.0
pydantic==2.13.4
pydantic_core==2.46.4
SQLAlchemy==2.0.52
sqlalchemy-orm==1.2.10
typing-inspect==0.9.0
typing-inspection==0.4.4
typing_extensions==4.16.0
